<%- include ("./partials/header") %>
	

  
  <form action="/firestore" method="post">
  	<input type = 'text' name="mc" placeholder='enter name'>
  	<input type='submit' >
  </form>



<%- include ("./partials/footer") %>